.ctoken {
  flex-shrink: 0;
  display: inline-block;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  border-radius: 50%;
  background-image: url('/compound-components/assets/ctoken_blank.svg');
  width: 3.375rem;
  height: 3.375rem;

  &--small {
    width: 26px;
    height: 26px;
  }

  &--lLODE {
    background-image: url('/compound-components/assets/ctoken_blank.svg');
  }

  &--lDAI {
    background-image: url('/compound-components/assets/ctoken_dai_product.svg');
  }

  &--lDPX {
    background-image: url('/compound-components/assets/ctoken_dpx_product.svg');
  }

  &--lETH {
    background-image: url('/compound-components/assets/ctoken_eth_product.svg');
  }

  &--lMAGIC {
    background-image: url('/compound-components/assets/ctoken_magic_product.svg');
  }

  &--lMIM {
    background-image: url('/compound-components/assets/ctoken_mim_product.svg');
  }

  &--lFRAX {
    background-image: url('/compound-components/assets/ctoken_frax_product.svg');
  }

  &--lUSDC {
    background-image: url('/compound-components/assets/ctoken_usdc_product.svg');
  }

  &--lUSDT {
    background-image: url('/compound-components/assets/ctoken_usdt_product.svg');
  }

  &--lWBTC {
    background-image: url('/compound-components/assets/ctoken_wbtc_product.svg');
  }

  &--lplvGLP {
    background-image: url('/compound-components/assets/ctoken_plvglp_product.svg');
  }
}
